header{
    text-align: center;
}

section ul{
    display: flex;
    margin-left: 30%;
}

section p{
    text-align: center;
}

.alerta{
    color: #a40d0d;
    font-size: large;
}

button{
    color: #fff;
    font-size: large;
    background-color: #a40d0d;
    border: 0;
    border-radius: 10px;
    width: 50%;
    height: 30vh;
}

footer ul{
    display: flex;
    flex-direction: row;
    align-items: start;
    vertical-align: baseline;
    gap: 20%;
}

footer nav ul li{
    color: transparent;
}

footer nav ul li a{
    color: #a40d0d;
    font-size: large;
    text-decoration: none;
}

.faq{
    position: absolute;
    left: 15px;
    top: 80%;
}

.contato{
    position: absolute;
    top: 80%;
    left: 50%;
    right: 50%;
}

.integrantes{
    position: absolute;
    top: 80%;
    right: 15px;
}

footer nav ul li a:hover{
    text-decoration: underline;
    color: #000;
}